.left-pane-container {
  padding: 12px;
  height: 95%;
  background-color: red;
  overflow-y: hidden;
  &:hover{
    overflow-y: scroll;
  }
  .list-container{
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}