.left-pane-container {
  padding: 12px;
  overflow-y: hidden;
  height: calc(100% - 120px);

  z-index: 4;
  &:hover{
    overflow-y: scroll;
  }
  .list-container{
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}